#container{
    -fx-background-color: #f2c2f3;
}

.bar{
    -fx-cursor: hand;
}

#searchBtn{
    -fx-background-color: rgba(255, 255, 255, 0);
}

#definitionListView{
    -fx-control-inner-background: #efefef;
    -fx-text-fill: #ee5656;
    -fx-font-size: 16;
    -fx-wrap-text: true;
}

.related-words, .translate-words {
    -fx-border-radius : 5;
    -fx-padding : 10;
    -fx-border-style : solid;
    -fx-border-color : blue;
    -fx-border-width : 1;
    -fx-margin-top : 5px;
}

#newWord, #newWordDef{
       -fx-text-fill: #9f45b0;
       -fx-border-color: #966FBD;
       -fx-font-size: 14px;
       -fx-border-width: 2;
       -fx-background-radius: 5;
       -fx-border-radius: 5;
}

.text-header {
     -fx-font-size : 15;
     -fx-border-width : 2;
     -fx-border-color : red;
     -fx-border-radius : 5;
    -fx-padding : 20;
}

.meaning-word, .target-word {
    -fx-font-size : 14px;
    -fx-padding : 5px;
    -fx-border-radius : 5;
    -fx-font-style : italic;
}

#wordListView, #definitionListView{
        -fx-font-size: 14px;
        -fx-font-weight: 700;
        -fx-padding: 2;
        -fx-background-radius: 5;
        -fx-border-radius: 5;
}
.btn-submit {
    -fx-font-size : 14px;
    -fx-border-radius : 2;
    -fx-background-color :#63B8FF;
    -fx-cursor: hand;
}

#paneHeader {
    -fx-font-style : italic;
    -fx-border-radius : 5;
    -fx-border-style : solid;
    -fx-border-width : 2;
    -fx-border-color : blue;
    -fx-background-color : #63B8FF;
}

#textHeader {
    -fx-font-size : 20px;
    -fx-padding : 5px 0;
}


/*Translate*/

.word-translate {
    -fx-background-color : #fff;
    -fx-background-radius : 30px;
}

.box-search {
    -fx-background-color : #63B8FF;
    -fx-border-radius : 5;
    -fx-background-radius : 5;
    -fx-cursor: hand;
}

.word-search, .word-explain{
    -fx-border-style : solid;
    -fx-border-color : #966FBD;
    -fx-border-width : 2;
    -fx-background-radius : 5;
    -fx-wrap-text: true;
}

.word-search{
    -fx-border-radius: 5 0 0 5 ;
}

.word-explain{
    -fx-border-radius: 0 5 5 0 ;
}

.box-text {
    -fx-font-size : 14px;
    -fx-background-color : #CCF381;
}

.btn-translate{
    -fx-background-color: #87e1e1;
    -fx-cursor: hand;
}

/*game*/
.btn-5050,.btn-alo,.btn-changeQues,.btn-audiences{
    -fx-background-color: transparent;
}

#prize{
    -fx-font-size: 17;
    -fx-padding: 9;
    -fx-text-alignment: center;
    -fx-background-radius: 5;
}

.active{
    -fx-background-color: red;
    -fx-text-fill: #fff;
}

#questionField{
    -fx-font-size: 20;
    -fx-text-fill: #fff;
    -fx-wrap-text: true;
    -fx-control-inner-background: #4c4cf8;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: #fff;
}

#choiceA,#choiceB,#choiceC,#choiceD{
    -fx-cursor: hand;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: black;
}

#choiceA:focused, #choiceB:focused, #choiceC:focused, #choiceD:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.helpOpacity{
    -fx-opacity: 0.6;
}