#container{
    -fx-background-color: #f2c2f3;
}

.bar{
    -fx-cursor: hand;
}

#searchBtn{
    -fx-background-color: rgba(255, 255, 255, 0);
}

#definitionListView{
    -fx-control-inner-background: #efefef;
    -fx-text-fill: #ee5656;
    -fx-font-size: 16;
    -fx-wrap-text: true;
}

.related-words, .translate-words {
    -fx-border-radius : 5;
    -fx-padding : 10;
    -fx-border-style : solid;
    -fx-border-color : blue;
    -fx-border-width : 1;
    -fx-margin-top : 5px;
}
